body{
    background-color: hsl(0, 2%, 10%);
}
#box{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 100%, 59%);
    font-size: 13em;
    text-align: center;
}
img{  animation-name:  slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function:cubic-bezier(0.19,-0.03, 0.69, 1);}

@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    to{transform: translateX(300%)}
}
@keyframes slideUp{
    from{transform: translateY(300%)}
}
@keyframes slideDown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
50%{transform: rotateZ(360deg)}
}
@keyframes grow{
    50%{transform: scale(2, 2)}
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
}
@keyframes fadeIn{
    100%{opacity: 1}
}
@keyframes colorchange{
    0%{background-color: hsl(0, 100%, 59%)}
    20%{background-color: hsl(31, 100%, 59%)}
    40%{background-color: hsl(59, 100%, 59%)}
    60%{background-color: hsl(94, 100%, 59%)}
    80%{background-color: hsl(177, 100%, 59%)}
    100%{background-color: hsl(276, 100%, 59%)}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px hsl(60, 100%, 65%)}
}