.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-5x{
    color: hsl(0, 0%, 66%);
}
.fa-solid.fa-house.fa-5x:hover{
    color: hsl(0, 0%, 76%);
}
.fa-brands.fa-twitter.fa-5x{
    color: hsl(188, 100%, 55%);
}
.fa-brands.fa-twitter.fa-5x:hover{
    color: hsl(188, 100%, 65%);
}
.fa-brands.fa-youtube.fa-5x{
    color: hsl(0, 98%, 55%);
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: hsl(0, 98%, 65%);
}
.fa-brands.fa-tiktok.fa-5x{
    color: hsl(0, 0%, 5%);
}
.fa-brands.fa-tiktok.fa-5x:hover{
    color: hsl(0, 0%, 20%);
}